@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Reenie+Beanie');

#obscure{
  width: 100%;
  background-color: rgba(127, 140, 141, 0.3)
}
h3{
  font-family: 'Annie Use Your Telescope', cursive; 
  margin-bottom: 13%; 
  font-size: 5em;
}
.navspace{
  margin-left: 20px;
}
.navspace2{
  float:right;
}
.widthlink{
  margin-left:29px;
  width: 50%;
}
.widthlink ul li a{
  padding: 5px;
}
.spacer{
  margin-bottom: 25px;
}
.packh{
  padding: 5%;
}
.ocpacitydiv{
  background: #000000;
  background-color: rgba(0, 0, 0, 0.5);
}
.box{
    width:300px; 
    height:250px; 
    border:1px solid #000; 
    border-radius:2px; 
    float:left; 
    margin:20px 30px;  
}
.box img{
  width:300px; 
  height:250px;
}
.box .overlay{
  width:300px; 
  height:250px; 
  border-radius: 0px;
  background:#393535; 
  margin:-250px 0px 0px 0px; 
  opacity:0.5; 
}
.box a{
  padding:5px 7px; 
  border:1px solid #000; 
  text-decoration:none; 
  font-family:sans-serif; 
  font-size:14px; 
  margin:-140px 0px 0px 15px; 
  display:inline-block; 
  opacity:0; transition:all 0.5s ease-in-out;    
  cursor: pointer;/* z-index: 10000; */
  position: absolute;
  width: 20%;
  text-align: center;
}

.box .overlay:hover{
  opacity:0.1; 
  transition:all 0.5s ease-in-out; 
  width:300px; 
  margin-left:50px; 
  float:right; 
}
.box:hover{
  box-shadow:0px 0px 10px #424242; 
  border:1px solid #00DFDF;
  transition:all 0.5s ease-in-out;
}
.box:hover a{
  opacity:1; 
  background:#000000;
  background-color: rgba(0, 0, 0, 0.8); 
  color:#ffffff; 
  margin:-40px 0px 0px 0px;  
  border-radius:1px; 
  width: 23%;
}
.box a:hover{
  border:1px solid #00DFDF;
  transition:all 0.5s ease-in-out; 
  width: 23%;  
}
.box .overlay h4{
  padding: 55px;
  font-family: 'Annie Use Your Telescope', cursive; 
}